extends _templates/main
//- extends _templates/main-tailwind

block title
	| Новый пароль

block content
	.change-password
		form(action="#").change-password__form.form-change-password.enter-modal
			.form-change-password__logo
				img(src="images/change-password/logo.svg" alt="alt")
				
			.modal__header.enter-modal__header
				p.enter-modal__title Изменение пароля

			.enter-modal__group
				.enter-modal__group-inner
					input.enter-modal__input(type="password" name='password' placeholder=" ")
					label().enter-modal__placeholder Новый пароль
					button(type="button").eye-ico.unblind
						.eye-ico__show
							svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M15 8C15 9 11.8656 13 8 13C4.13444 13 1 9 1 8C1 7 4.13444 3 8 3C11.8656 3 15 7 15 8Z', stroke='#ABB6CC', stroke-width='2')
								path(d='M10 8C10 8.53043 9.78929 9.03914 9.41421 9.41421C9.03914 9.78929 8.53043 10 8 10C7.46957 10 6.96086 9.78929 6.58579 9.41421C6.21071 9.03914 6 8.53043 6 8C6 7.46957 6.21071 6.96086 6.58579 6.58579C6.96086 6.21071 7.46957 6 8 6C8.53043 6 9.03914 6.21071 9.41421 6.58579C9.78929 6.96086 10 7.46957 10 8Z', stroke='#ABB6CC', stroke-width='2')
						.eye-ico__hide
							svg(width='16', height='14', viewBox='0 0 16 14', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M14.7984 4.60196C14.4468 4.17598 13.8166 4.11561 13.3906 4.46713C12.9646 4.81864 12.9042 5.44892 13.2558 5.8749L14.7984 4.60196ZM6.66672 10.8131C6.13438 10.666 5.5836 10.9783 5.43652 11.5107C5.28943 12.043 5.60175 12.5938 6.13408 12.7409L6.66672 10.8131ZM14 7C14 6.90869 14.0224 6.9232 13.9475 7.088C13.8844 7.22662 13.7791 7.41348 13.6256 7.63686C13.3196 8.08235 12.8616 8.61576 12.2856 9.12728C11.1161 10.1659 9.59358 11 8 11V13C10.272 13 12.2495 11.8341 13.6136 10.6227C14.3044 10.0092 14.8716 9.35515 15.2741 8.76939C15.4749 8.47714 15.6446 8.18744 15.7681 7.9159C15.8796 7.67055 16 7.34131 16 7H14ZM2 7C2 7.09131 1.97759 7.0768 2.05253 6.912C2.11557 6.77338 2.22091 6.58652 2.37438 6.36314C2.68045 5.91765 3.13843 5.38424 3.71443 4.87272C4.88395 3.83412 6.40642 3 8 3V1C5.72803 1 3.7505 2.16588 2.3864 3.37728C1.69559 3.99076 1.12837 4.64485 0.725936 5.23061C0.525149 5.52286 0.355412 5.81256 0.231934 6.0841C0.120362 6.32945 0 6.65869 0 7H2ZM4.36521 9.65453C3.60404 9.09405 2.97875 8.44512 2.55129 7.88145C2.33731 7.5993 2.18427 7.35344 2.08965 7.16534C1.97701 6.94142 2 6.90359 2 7H0C0 7.39097 0.158981 7.77787 0.302959 8.06409C0.464956 8.38614 0.689161 8.73586 0.957703 9.08996C1.49528 9.79883 2.25613 10.5852 3.17933 11.265L4.36521 9.65453ZM8 3C9.26695 3 10.4918 3.52586 11.5415 4.27773L12.7061 2.65178C11.4425 1.74671 9.81651 1 8 1V3ZM13.2558 5.8749C13.5334 6.21135 13.7379 6.51494 13.8671 6.75228C13.9319 6.87109 13.9707 6.9604 13.9912 7.01907C14.0155 7.08838 14 7.07379 14 7H16C16 6.56472 15.8017 6.12268 15.6235 5.7956C15.4208 5.42353 15.1388 5.01456 14.7984 4.60196L13.2558 5.8749ZM8 11C7.54844 11 7.10263 10.9335 6.66672 10.8131L6.13408 12.7409C6.72569 12.9043 7.3509 13 8 13V11Z', fill='#ABB6CC')
								path(d='M6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579', stroke='#ABB6CC', stroke-width='2')
								path(d='M15 1L1 13', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round')
			.enter-modal__group
				.enter-modal__group-inner
					input.enter-modal__input(type="password" name='password' placeholder=" ")
					label().enter-modal__placeholder Повторить пароль

			button.button.button-primary.enter-modal__button(type='button') Изменить пароль
	
	.change-password
		form(action="#").change-password__form.form-change-password.enter-modal
			.form-change-password__logo
				img(src="images/change-password/logo.svg" alt="alt")
				
			.modal__header.enter-modal__header
				p.enter-modal__title Изменение пароля

			.enter-modal__group
				.enter-modal__group-inner
					input.enter-modal__input.enter-modal__input--error(type="password" name='password' placeholder=" ")
					label().enter-modal__placeholder Новый пароль
					button(type="button").eye-ico.unblind
						.eye-ico__show
							svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M15 8C15 9 11.8656 13 8 13C4.13444 13 1 9 1 8C1 7 4.13444 3 8 3C11.8656 3 15 7 15 8Z', stroke='#ABB6CC', stroke-width='2')
								path(d='M10 8C10 8.53043 9.78929 9.03914 9.41421 9.41421C9.03914 9.78929 8.53043 10 8 10C7.46957 10 6.96086 9.78929 6.58579 9.41421C6.21071 9.03914 6 8.53043 6 8C6 7.46957 6.21071 6.96086 6.58579 6.58579C6.96086 6.21071 7.46957 6 8 6C8.53043 6 9.03914 6.21071 9.41421 6.58579C9.78929 6.96086 10 7.46957 10 8Z', stroke='#ABB6CC', stroke-width='2')
						.eye-ico__hide
							svg(width='16', height='14', viewBox='0 0 16 14', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M14.7984 4.60196C14.4468 4.17598 13.8166 4.11561 13.3906 4.46713C12.9646 4.81864 12.9042 5.44892 13.2558 5.8749L14.7984 4.60196ZM6.66672 10.8131C6.13438 10.666 5.5836 10.9783 5.43652 11.5107C5.28943 12.043 5.60175 12.5938 6.13408 12.7409L6.66672 10.8131ZM14 7C14 6.90869 14.0224 6.9232 13.9475 7.088C13.8844 7.22662 13.7791 7.41348 13.6256 7.63686C13.3196 8.08235 12.8616 8.61576 12.2856 9.12728C11.1161 10.1659 9.59358 11 8 11V13C10.272 13 12.2495 11.8341 13.6136 10.6227C14.3044 10.0092 14.8716 9.35515 15.2741 8.76939C15.4749 8.47714 15.6446 8.18744 15.7681 7.9159C15.8796 7.67055 16 7.34131 16 7H14ZM2 7C2 7.09131 1.97759 7.0768 2.05253 6.912C2.11557 6.77338 2.22091 6.58652 2.37438 6.36314C2.68045 5.91765 3.13843 5.38424 3.71443 4.87272C4.88395 3.83412 6.40642 3 8 3V1C5.72803 1 3.7505 2.16588 2.3864 3.37728C1.69559 3.99076 1.12837 4.64485 0.725936 5.23061C0.525149 5.52286 0.355412 5.81256 0.231934 6.0841C0.120362 6.32945 0 6.65869 0 7H2ZM4.36521 9.65453C3.60404 9.09405 2.97875 8.44512 2.55129 7.88145C2.33731 7.5993 2.18427 7.35344 2.08965 7.16534C1.97701 6.94142 2 6.90359 2 7H0C0 7.39097 0.158981 7.77787 0.302959 8.06409C0.464956 8.38614 0.689161 8.73586 0.957703 9.08996C1.49528 9.79883 2.25613 10.5852 3.17933 11.265L4.36521 9.65453ZM8 3C9.26695 3 10.4918 3.52586 11.5415 4.27773L12.7061 2.65178C11.4425 1.74671 9.81651 1 8 1V3ZM13.2558 5.8749C13.5334 6.21135 13.7379 6.51494 13.8671 6.75228C13.9319 6.87109 13.9707 6.9604 13.9912 7.01907C14.0155 7.08838 14 7.07379 14 7H16C16 6.56472 15.8017 6.12268 15.6235 5.7956C15.4208 5.42353 15.1388 5.01456 14.7984 4.60196L13.2558 5.8749ZM8 11C7.54844 11 7.10263 10.9335 6.66672 10.8131L6.13408 12.7409C6.72569 12.9043 7.3509 13 8 13V11Z', fill='#ABB6CC')
								path(d='M6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579', stroke='#ABB6CC', stroke-width='2')
								path(d='M15 1L1 13', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round')
				.modal__error Введите 6 или более символов
			
			.enter-modal__group
				.enter-modal__group-inner
					input.enter-modal__input.enter-modal__input--error(type="password" name='password' placeholder=" ")
					label().enter-modal__placeholder Повторить пароль
				.modal__error Пароли должны совпадать
			
			button.button.button-primary.enter-modal__button(type='button') Изменить пароль


	.change-password
		.change-password__form.form-change-password.enter-modal
			.form-change-password__logo
				img(src="images/change-password/logo.svg" alt="alt")
			
			.form-change-password__content
				.password-succes
					.password-succes__icon
						svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0_201_4503)')
								path(d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z', fill='#00C293')
								path(d='M17.8601 8.57807L11.8285 16.0616C11.6069 16.3361 11.2349 16.5 10.8326 16.5C10.4767 16.5 10.1396 16.3715 9.90858 16.1472L6.19863 12.5565C5.9024 12.2696 5.94164 11.8483 6.28871 11.5972C6.62583 11.3525 7.19229 11.3478 7.53715 11.5874L10.6895 13.7767L16.3309 7.7869C16.6117 7.48899 17.1936 7.40855 17.5915 7.61454C18.0049 7.82861 18.1232 8.25207 17.8601 8.57807Z', fill='white')
							defs
								clippath#clip0_201_4503
									rect(width='24', height='24', fill='white')

					.password-succes__title Пароль изменен 
				
				p.form-change-password__message Новый пароль успешно сохранен. Теперь вы можете войти 
					br
					| в личный кабинет с новым паролем 
			
			button.button.button-primary.enter-modal__button(type='button') Войти в личный кабинет


	.change-password
		.change-password__form.form-change-password.enter-modal
			.form-change-password__logo
				img(src="images/change-password/logo.svg" alt="alt")
			
			.form-change-password__content
				.password-succes
					.password-succes__icon
						svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0_201_4503)')
								path(d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z', fill='#00C293')
								path(d='M17.8601 8.57807L11.8285 16.0616C11.6069 16.3361 11.2349 16.5 10.8326 16.5C10.4767 16.5 10.1396 16.3715 9.90858 16.1472L6.19863 12.5565C5.9024 12.2696 5.94164 11.8483 6.28871 11.5972C6.62583 11.3525 7.19229 11.3478 7.53715 11.5874L10.6895 13.7767L16.3309 7.7869C16.6117 7.48899 17.1936 7.40855 17.5915 7.61454C18.0049 7.82861 18.1232 8.25207 17.8601 8.57807Z', fill='white')
							defs
								clippath#clip0_201_4503
									rect(width='24', height='24', fill='white')

					.password-succes__title Пароль изменен 
				
				p.form-change-password__message Новый пароль успешно сохранен. Теперь вы можете войти 
					br
					| в личный кабинет с новым паролем 
			
			button.button.button-primary.button--loading.enter-modal__button(type='button') Войти в личный кабинет

block page-scripts
	//- SERVIVE FUNCTIONS==================

	script(src="js/change-pass.js")
	
	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- fade--------------------------
	//- fadeToggle(document.querySelector('selector'), 500, 'flex');
	//- fadeIn(document.querySelector('selector'), 500, 'flex');
	//- fadeOut(document.querySelector('selector'), 500);
	//- script(src="js/libs/service-functions/fade.js")

	//- slide--------------------------
	//- исходное значеник display определяется автоматически
	//- slideToggle(document.querySelector('.my-shuffle'), 400); 
	//- slideUp(document.querySelector('.my-shuffle'), 400); 
	//- slideDown(document.querySelector('.my-shuffle'), 400); 
	//- script(src="js/libs/service-functions/slide.js")

	//- theme-switcher --------------------------
	//- Для переключения цвет. схемы нужны 2 кнопки, с классами .switcher и .reset
	//- Для .reset нужно изначально задать display: none, а при добавлении класса .active установить для него display: block
	//- сама тема меняется добавлением к <html> тегу классов dark & light.
	//- в соответствии с этими классами нужно менять иконки Луны и Солнца
	//- Работающий пример: all layout/FarmDev
	//- script(src="js/libs/service-functions/theme-switcher.js")

	//- scrollDisable(надежное отключение скролла на ios--------------------------
	//- script(src="js/libs/service-functions/scrollDisable.js")

	//- scrollWidth(фикс прыгания стр-цы. при открытии модалки--------------------------
	//- script(src="js/libs/service-functions/scrollWidth.js")

	//- scrollTabs(прокрутка длинных табов на мобильных--------------------------
	//- script(src="js/libs/service-functions/scrollTabs.js')

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- USE: img.lazyload(data-src="img/unnamed.jpg" alt="alt")
	//- iframe(frameborder="0" class="lazyload" allowfullscreen="" data-src="//www.youtube.com/embed/ZfV-aYdU4uE")

	//- Plugins
	//- script(src='js/libs/lazysizes/plugins/ls.unveilhooks.min.js')
	//- (для lazy style="background-image:url()" data-bg="img/unnamed.jpg")

	//- Основной скрипт
	//- script(src="js/libs/lazysizes/lazysizes.min.js" async)	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")

	//- tabs-accordion-combine--------------------------
	//- script(src="js/libs/tabs-accordion-combine/tabs-accordion.js")
		
	//- micromodal--------------------------
	//- При подключении скрипта ScrollTrigger.js micromodal выдает ошибку при инициализации!!
	//- script(src="js/libs/micromodal/micromodal.js")

	//- GraphModal--------------------------
	//- не требует подключения scrollWidth(фикс прыгания стр-цы. при открытии модалки)
	//- script(src="js/libs/graph-modal/dist/graph-modal.min.js")

	//- VenoBox--------------------------
	//- модалка для всех видов содержимого - inline, iframe, photo
	//- Внимание! Копирует, исходное содержимое в модалку в режиме inline, поэтому не подходит для отправки форм через onsubmit!
	//- Лучше вообще не использовать для форм.
	//- script(src="js/libs/VenoBox/dist/venobox.js")

	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//- wNumb--------------------------
	//- script(src=path + "wnumb/wNumb.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- tippy--------------------------
	//- https://atomiks.github.io/tippyjs/
	//- base using:  html: <button data-tippy-content="Tooltip">Text</button>; js: tippy('[data-tippy-content]');
	//- script(src="js/libs/tippy/popper.min.js")
	//- script(src="js/libs/tippy/tippy-bundle.umd.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================