#enterRegModalEmail.modal.fade(tabindex='-1', aria-modal='true', role='dialog' )
	//- style="display:block"
	.modal-dialog.modal-dialog-centered.enter-modal-dialog
		.enter-modal.reg-modal.modal-content
			button.modal__close.enter-modal__close(type='button', data-bs-dismiss='modal', aria-label='Close')
				svg(aria-hidden='true', width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M15.332 4.66663L4.66536 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
					path(d='M4.66797 4.66663L15.3346 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
			.modal__header.enter-modal__header.enter-modal__header--mb
				p.enter-modal__title Вход или регистрация

			.modal__body
				.enter-modal__group
					.enter-modal__group-inner
						input.enter-modal__input(autofocus id="" type="text" name='name' placeholder=" " value="ivanovalexey@gmail.com")
						//- button.modal__clear(type='button')
							svg(aria-hidden='true', width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M15.332 4.66663L4.66536 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
								path(d='M4.66797 4.66663L15.3346 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
						label(for="").enter-modal__placeholder Телефон или email

				button.button.button-primary.enter-modal__button(type='button') Продолжить

#enterRegModalPhone.modal.fade(tabindex='-1', aria-modal='true', role='dialog')
	//- style="display:block"
	.modal-dialog.modal-dialog-centered.enter-modal-dialog
		.enter-modal.reg-modal.modal-content
			button.modal__close.enter-modal__close(type='button', data-bs-dismiss='modal', aria-label='Close')
				svg(aria-hidden='true', width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M15.332 4.66663L4.66536 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
					path(d='M4.66797 4.66663L15.3346 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
			.modal__header.enter-modal__header.enter-modal__header--mb
				p.enter-modal__title Вход или регистрация

			.modal__body
				.enter-modal__group
					.enter-modal__group-inner
						input.enter-modal__input(id="" type="text" name='name' placeholder=" " value="+7 (928) 452-95-29")
						//- button.modal__clear(type='button')
							svg(aria-hidden='true', width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M15.332 4.66663L4.66536 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
								path(d='M4.66797 4.66663L15.3346 15.3333', stroke='#ABB6CC', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
						label(for="").enter-modal__placeholder Телефон или email

				button.button.button-primary.enter-modal__button(type='button') Продолжить