/*=====================Change password page=========================*/
.change-password{
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F7F7FA;

	.enter-modal__group{
		margin-bottom: 20px;
	}
}
.change-password__form{
	padding: 24px;
	max-width: 464px;
	width: 100%;
	background-color: #fff;
	border-radius: 24px;

	.enter-modal__button{
		margin-top: 32px;
	}
}
.form-change-password__logo{
	max-width: 164px;
	margin-bottom: 48px;
	img{
		max-width: 100%;
	}
}
.password-succes{
	display: flex;
	align-items: center;
	column-gap: 15px;
	margin-bottom: 12px;
}
.password-succes__icon{
	width: 24px;
	height: 24px;

	svg{
		width: 100%;
		max-height: 100%;
	}
}
.password-succes__title{
	font-size: 24px;
	font-weight: 600;
}
.form-change-password__message{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
}
.form-change-password__content{
	margin-bottom: 128px;
}
/*--------------------external----------------------*/
.enter-modal__header {
	display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 32px;
}
.enter-modal__title{
    display: inline;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin: 0 32px 0 0;
}
.enter-modal__group{
	margin-bottom: 32px;

	&-inner{
		position: relative;

	}
}
.enter-modal__input {
	width: 100%;
    border: 1px solid #E1E1E5;
    padding: 14px 16px 14px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &[readonly]{
    	& ~ .enter-modal__placeholder{
		  transform: translateY(-35px);   		
    	}
    }
    &:not([readonly]){
    	cursor: pointer;

    	&.enter-modal__input--error{
	    	border-color: #EB1C4E;
	    }

		&:hover{
			border-color: #ABB6CC;
		}
	    &:focus ~ .enter-modal__placeholder,
	    &:not(:placeholder-shown) ~ .enter-modal__placeholder{
		  transform: translateY(-35px);
		}
		&:focus-visible,
		&:active {
		    outline: none;
		    border-color: #000;
		}
		&:focus {
		    // border-color: #000;
			& ~ .modal__clear{
				display: flex;
			}
		}
		&:hover:not(:placeholder-shown){
			& + .modal__clear{
					// background-color: red;
					svg{
						path{
							stroke: #78808F;
						}

					}
				}
		}
		&:not(:placeholder-shown):not(:focus-visible){
			border-color: #E1E1E5;

			& ~ .modal__clear{
				display: flex;
			}

			&.enter-modal__input--error{
				border-color: #EB1C4E;
			}


		}
    }

    &--error{
    	border-color: #EB1C4E;
    }
    &--fill{
    	color: $gray-hover;
    	background-color: $gray-fill;

    	& + .modal-edit{
    		display: flex;
    	}
    }

		
	
}
.button {
	&:not([disabled]):hover {
	    color: #fff;
	    background-color: #00b88b;
	}
}
.button-primary {}
.enter-modal__button {
	width: 100%;
	&.button{
		flex-direction: row-reverse;
		column-gap: 10px;
		padding: 14px 28px;
		font-size: 16px;

		&.button--loading{
			color: white !important;
		}
		&.button--loading::after {
		    position: relative;
		    margin: 0;
		    width: 18px;
		    height: 18px;
		}	
	}
}
.eye-ico{
	&.unblind{
		.eye-ico__show{
			display: block;

		}
		.eye-ico__hide{
			display: none;

		}
	}

	.eye-ico__show{
		display: none;
	}

}
.enter-modal__placeholder{
	position: absolute;
	padding:1px 5px;
	left: 16px;
    top: 50%;
    border-radius: 8px;
	font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transform: translateY(-50%);
    color: #78808F;
    background-color: #fff;
    transition: all .3s;
    pointer-events: none;
}
.modal__error{
	margin-top: 6px;
	padding-inline: 16px;
	font-size: 14px;
	line-height: 16px;
	color: #EB1C4E;
}
.eye-ico{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);

	&__show{
		&:hover{
			svg{
				path{
					stroke: $gray-hover;
				}
			}
		}
	}

	&__hide{
		&:hover{
	    	svg{
	    		path{
	    			&:first-child{
	    				fill: $gray-hover;
	    				
	    			}
	    			&:not(:first-child){
	    				stroke: $gray-hover;
	    				
	    			}

	    		}
	    	}
	    }
	}
}
/*--------------------END external----------------------*/ 
/*===================== end Change password page======================*/ 